<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me 😎</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 40 years of experience as a Rolling Mill Foreman, and have worked
            in both small and large organizations. While I'm a proficient in working with all kinds of machines and mill types, both automated and manual mills.
            , my expertise is in Setting up Rolling mills, (Designing, maintaining etc)
        </p>
        <p>
           I am a Maker!⚙️
           My Career Objectives are to obtain maximum productions, interpersonal skills to improve services and products, reduce cost and lead times.

           I am Highly motivated,dynamic, focused with ability to learn quickly, leadership quality, good communication skill and can adapt myself to stressful situations.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Professional Experience</h3>
		    <ul>
    			<li>
            1977 - 1980 – 3 years at M/S Vishwakarma engineering works, Ahmedabad as trainee turner & turner.
    			</li>
          <li>
            1980 - 1985 – 5 years at M/S Sirhind Steel Rolling Mill, Ahmedabad as Turner
          <li>
            1985 - 1990 – 5 years at M/S Malhotra Steels Rolling Mill, Bombay as workshop in-charge.
    			<li>
            1990 - 1991 – 1 year at M/S Sulakhram Steels Rolling Mill, Ahmedabad as development in-charge
    			</li>
    			<li>
            1991 - 1993 – 3 years at M/S Dhatu-Sanskar Steel Rolling Mill, Halol as Mill Fitter
    			</li>
    				<li>
            1993 – 1995 – 2 years at M/S Sulakhram Steels Rolling Mill, Ahmedabad as Senior Mill Fitter
    			</li>
    					<li>
            1995 – 2005 – 10 years at M/S Shah Steel Rolling Mill, Ahmedabad as Shift-in-charge
    			</li>
    					<li>
            2005 - 2012 at M/S Saravana Alloy Steels Pvt Ltd, Bangalore as Mill Foremen
    			</li>
    					<li>
            20012-2016 at A-One GOLD Rolling Mill, Hindupur, Andhra Pradesh as Mill Foremen
    			</li>



		    </ul>
	    </div>
    </div>
  </div>
</section>
